.contact-list {
  background-color: silver;
  /* em is relative to the parent font size, while rem is relative to the root font size of the HTML document */
  padding: 1em;
  margin: 2rem auto;
  width: 50rem;
  max-width: 95%;
  border-radius: 12px;
  text-align: center;
}
